<%= form_for([@article, @comment], remote: true, html: {id: "comments-form", :"data-type" => "json"}) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if user_signed_in? && current_user.admin? %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% else %>
  <div class="field">
    <%= f.label :body %><br>
  </div>
<% end %>


<% end %>
