<h1><%= @article.title %></h1>
<div>
	<%= @article.body %>
</div class="field">
	
<div>
	<% unless current_user && current_user.already_favorited?(@article) %>
      <%= link_to "Marcar como Favorito", favorite_path(@article, type: "favorite"), method: :put, class:"lightblue" %>
        <% else %>
	<%= link_to "Quitar de favorito", favorite_path(@article, type: "unfavorite"), method: :put, class:"lightblue" %>
      <% end -%>
</div>
<% unless @article.user.nil? %>

<p>Escrito por: <%= @article.user.email %> - Visto: <%= @article.visits_count %> veces </p>

<% end %>

<div class="comentarios">
		<h3>Comentarios:</h3>
		<%= render "comments/form" %>
		<ul id="comments-box">
			<% @article.comments.each do |comment|%>
			<li>
				<%= comment.body %> - <%= comment.user.email %>
				 <% unless current_user && current_user.already_flagged?(comment) %>
					<%= link_to " Reportar comentario", flags_path(@article, id: comment, type: "report"), method: :put, class:"red" %>
				   <% else %>
				   <%= link_to " Quitar Reporte del comentario", flags_path(@article, id: comment, type: "unreport"), method: :put, class:"red" %>
				 <% end -%>
				 <% if user_signed_in? && current_user.admin? %>
				 	<%= link_to " - Eliminar comentario", article_comment_path(@article, id: comment) , method: :delete, class:"red" %>
				 <% end %>
			</li>
			<% end %>
		</ul>
	</div>

<% if user_signed_in? && current_user.admin? %>
	<div class="top-space">
		<%= link_to "Editar", edit_article_path(@article), class:"btn be-red white"%>
	</div>
<% end %>
