<h1><%= @article.title %></h1>
<div>
	<%= @article.body %>
</div>
<% unless @article.user.nil? %>
<p>Escrito por: <%= @article.user.email %> - Visto: <%= @article.visits_count %> veces </p>
<% end %>
<div class="top-space">
	<%= link_to "Editar", edit_article_path(@article), class:"btn be-red white"%>
</div>
