<h1><%= @article.title %></h1>
<div>
	<%= @article.body %>
</div class="field">
	<h3>Comentarios:</h3>
	<%= render "comments/form" %>
	<ul id="comments-box">
		<% @article.comments.each do |comment|%>
		<li>
			<%= comment.body %> - <%= comment.user.email %>
		</li>
		<% end %>
	</ul>
<div>
	
</div>
<% unless @article.user.nil? %>
<p>Escrito por: <%= @article.user.email %> - Visto: <%= @article.visits_count %> veces </p>
		
	<% unless current_user && current_user.already_favorited?(@article) %>
      <%= link_to "Favorite", favorite_path(@article, type: "favorite"), method: :put %>
        <% else %>
	<%= link_to "Unfavorite", favorite_path(@article, type: "unfavorite"), method: :put %>
      <% end -%>

<% end %>

<% if user_signed_in? %>
	<div class="top-space">
		<%= link_to "Editar", edit_article_path(@article), class:"btn be-red white"%>
	</div>
<% end %>
