<!DOCTYPE html>
<html>
<head>
  <title>MyWeb</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "partials/navigation" %>
	<div class="container-fluid">
		<p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
		<%= yield %>
	</div>
</body>
</html>
